/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1fcfb;
}

nav {
  width: 100%;
  background-color: blue;
  color: white;
  height: 2.5em;
  align-items: flex-end;
  font-size: 15px;
}

nav > a,
svg {
  margin-left: 1.5em;
  margin-top: 1em;
}

nav a:nth-child(-n + 1) {
  margin-left: 690px;
}

.nav-item-active {
  background-color: white;
  color: blue;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
}

header {
  background-color: blue;
  padding-left: 3em;
  color: white;
  height: 450px;
  width: 100%;
}

.header-text {
  margin-top: 100px;
}

.header-text img {
  margin-bottom: 5px;
}

.header-text h2 {
  font-size: 30px;
}

.header-text p {
  margin-top: 5px;
  font-size: 17px;
}

.header-image {
  position: absolute;
  top: 60px;
  left: 613px;
  width: 650px;
  height: 500px;
}

.companies {
  padding: 2em 0em 0em 3em;
}

.company-items {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 3em;
}

.api {
  padding: 5em 0em 0em 3em;
}
.api-heading {
  font-weight: 900;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  width: 95%;
  justify-content: space-between;
  background-color: #e1fcfb;
}

.cards > div {
  width: 15%;
  padding: 1.5em 1em;
  border-radius: 8px;
}

.card-active {
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px -1px 5px #afadad;
  width: 20%;
}

.cards > div > p {
  font-size: 12px;
}

.blog-heading {
  margin: 4em 0em 0em 3em;
}

.blog-cards {
  margin-top: 2em;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 14.5em;
  border-top-right-radius: 25px;
}

.blog-card {
  display: flex;
  padding-left: 3em;
}

.blog-content {
  background-color: white;
  padding: 1.5em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 250px;
  height: 240px;
}
.blog-bottom {
  position: relative;
}
.blog-card-bottom-image {
  position: absolute;
  right: 14.5em;
  top: 16em;
  border: 2px solid white;
  border-radius: 50%;
}

.blog-author {
  position: relative;
}

.blog-author b {
  position: absolute;
  right: 9.5em;
  top: 16.5em;
}

h6 {
  color: blue;
  padding-bottom: 1em;
  font-size: 13px;
}

h3 {
  padding-bottom: 1em;
}

h1,
h2,
h4,
h3,
h6 {
  font-weight: bold;
  font-family: sans-serif;
}

.faq-section {
  display: flex;
  background-color: #ead4fa;
  justify-content: space-between;
  margin-top: 4em;
}

.faq-content {
  margin-left: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.faq-content h2:first-child {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.faq-content h4:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.faq-content h4:nth-child(3) {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.faq-content button:nth-child(4) {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: blue;
  border: none;
  color: #fff;
  cursor: pointer;
}

.download-section {
  padding: 5rem 3rem;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.download-content h1 {
  font-size: 1.8rem;
}

.download-content {
  flex: 0.5;
}

.download-email {
  flex: 0.5;
  text-align: end;
}

.download-content h1 > span {
  font-weight: 200;
}

.download-email > form > input {
  width: 78%;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 2rem;
  background: #efe8ff;
  font-size: 0.8rem;
}

.download-email > form > button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  background: blue;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  right: 3.2rem;
  bottom: 7.4rem;
  cursor: pointer;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 5rem 3rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.footer-logo {
  margin-bottom: 0.8rem;
  width: 25%;
}

.footer-left .list-items {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  position: relative;
  padding-right: 1rem;
  text-align: center;
}

.footer-left .list-items:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  border-right: 2px solid #fff;
  height: 50%;
}

.footer-left .list-items:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  border-right: 2px solid #fff;
  height: 50%;
}
.footer-left .list-items:nth-child(4)::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  border-right: 2px solid #fff;
  height: 50%;
}

.logos-list {
  display: flex;
  gap: 1rem;
}

.footer-right .list-items {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  position: relative;
  padding-right: 1rem;
  text-align: center;
}

.footer-right .list-items::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  border-right: 2px solid #fff;
  height: 50%;
}

.footer-right {
  text-align: end;
}

.footer-right img {
  width: 15%;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
